<!-- !FOOTER -->
<footer class="footer">
    <div class="footer-container container">
        <div class="social-media">
            <ul class="list">
                <li class="list-item">
                    <a href="https://github.com/Lucaas27" target="_blank" class="list-link">
                        <i class="bx bxl-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/lucasg-omes/" target="_blank" class="list-link">
                        <i class="bx bxl-linkedin-square"></i>
                    </a>
                </li>
            </ul>
        </div>
        <span>&copy; <script>
                document.write(new Date().getFullYear())
            </script> Lucas Gomes. All rights reserved</span>
        <a href="#home" class="scroll-top">
            <i class="bx bx-chevron-up">Back to the top</i>
        </a>
    </div>
</footer>