<!-- !HEADER -->
<header class="header" id="home">
    <nav class="navbar container">
        <a href="/index.html#home" class="logo">
            <img src="/assets/images/logo_lightbg.png" alt="logo-light-background" class="logo-img">
        </a>
        <ul class="list container">
            <li class="list-item">
                <a href="/index.html#home" class="list-link">Home</a>
            </li>
            <li class="list-item">
                <a href="/index.html#about" class="list-link">About</a>
            </li>
            <li class="list-item">
                <a href="/index.html#portfolio" class="list-link">Portfolio</a>
            </li>
            <li class="list-item">
                <a href="/index.html#contact" class="list-link">Contact</a>
            </li>
            <li class="list-item">
                <a href="/articles/" class="list-link">Blog</a>
            </li>
        </ul>
        <button class="button menu-toggle-button icon-button" aria-label="nav-toggle" type="button">
            <div class="hamburger"></div>
        </button>
        <button class="button theme-toggle-button icon-button" aria-label="color-theme" type="button">
            <i class=" bx bx-toggle-left theme-off"></i>
            <i class="bx bx-toggle-right theme-on"></i>
        </button>
    </nav>
</header>