/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');

/* !BASE STYLES/RESET */

:root {
	--light-color: #f3f3fe;
	--dark-color: #363636;
	--border-top-color: rgba(0, 0, 0, 0.1);
	--link-hover-color: rgba(255, 255, 255, 0.2);
	--title-font-family: 'Playfair Display', 'serif';
	--body-font-family: 'Poppins', 'sans-serif';
	--container-padding: 1.5rem;
	--container-width: 96rem;
	--section-vertical-spacing: 8rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 10px - easier to use rem units later on */
}

body {
	font-family: var(--body-font-family);
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: var(--light-color);
	color: var(--dark-color);
	overflow-x: hidden;
}

body.dark-theme {
	/* Swap the colors when the body has the class dark and theme */
	--light-color: #363636;
	--dark-color: #f3f3fe;
	--border-top-color: rgba(255, 255, 255, 1);
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
}

span {
	display: inline-block;
}

i {
	font-size: 2.7rem;
	pointer-events: none;

}

input,
button,
textarea {
	font: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	outline: none;
}

.button {
	cursor: pointer;
}

/* 
?RADIAL GRADIENT
?background: radial-gradient(50% 50% at 50% 50%, rgba(255, 101, 118, .08) 0%, rgba(255, 101, 118, 0) 100%); 
*/

/* !REUSABLE CLASSES */
.container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 var(--container-padding);
}

/* !HEADER */

.header {
	margin-bottom: 5rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 8rem;
}

.navbar .logo {
	width: 10rem;
}

/* Keyframe animation for sliding the navbar down*/
@keyframes slideDown {
	from {
		top: -500px;
	}
	to {
		top: 0;
	}
}

.navbar .list {
	position: absolute;
	left: 0;
	flex-direction: column;
	animation-fill-mode: forwards;
	justify-content: center;
	gap: 3rem;
	background: var(--light-color);
	height: 100%;
	width: 100%;
	display: none;
	transition: all 0.5s ease-out;
}

.navbar .list.slideDown {
	top: 0;
	display: flex;
	animation: slideDown 0.5s;
	animation-fill-mode: forwards;
}

.navbar .list .list-item {
	border-bottom: 0.2px solid var(--dark-color);
	padding: 2.4rem 0;
	text-align: center;
	transition: all 0.2s ease-out;
}

.navbar .list .list-link {
	text-transform: uppercase;
	font-size: 1.4rem;
	color: var(--dark-color);
}

.navbar .list .list-link:hover,
.navbar .list .list-link:focus {
	opacity: 0.5;
	letter-spacing: 2px;
}

.navbar .menu-toggle-button,
.navbar .theme-toggle-button {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1.5rem;
	padding: 0 0.5rem;
	background-color: var(--dark-color);
	color: var(--light-color);
	border-radius: 0.4rem;
}

.navbar .theme-toggle-button {
	position: fixed;
	bottom: var(--container-padding);
	right: var(--container-padding);
	z-index: 10;
	opacity: 0.5;
	transition: opacity 0.4s ease;
}

.navbar .theme-toggle-button:hover {
	opacity: 1;
}

.navbar .icon-button {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	transition: all 0.5s ease-in-out;
	z-index: 10;
}

.navbar .icon-button .hamburger {
	width: 2rem;
	height: 0.2rem;
	background-color: var(--light-color);
	border-radius: 5px;
	position: relative;
	pointer-events: none;
	transition: all 0.5s ease;
}

.navbar .icon-button .hamburger::before,
.navbar .icon-button .hamburger::after {
	content: '';
	position: absolute;
	right: 0px;
	width: 2rem;
	height: 0.2rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
	background-color: var(--light-color);
}

.navbar .icon-button .hamburger::before {
	transform: translateY(-0.6rem);
}

.navbar .icon-button .hamburger::after {
	transform: translateY(0.6rem);
}

.navbar .icon-button i {
	margin: auto;
}

.navbar .icon-button .theme-on { /* Initially the theme is off (no dark-theme class) - theme-on button is not toggled*/
	display: none;
}

/* !JAVASCRIPT STYLES */
.navbar .icon-button .hamburger.mobile-menu {
	transform: translateX(-5rem);
	background: transparent;
}

.navbar .icon-button .hamburger.mobile-menu::before {
	transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.navbar .icon-button .hamburger.mobile-menu::after {
	transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}

.dark-theme .navbar .icon-button .theme-off{ /* The theme is on - theme-off button is not toggled*/
	display: none;
}

.dark-theme .navbar .icon-button .theme-on{ /* The theme is on - theme-on button is toggled*/
	display: block;
}

/* !HERO STYLES*/
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero h1 {
	font-size: 5.6rem;
	font-weight: 600;
	color: #aaa;
}

/* !ABOUT ME STYLES */

/* !PORTFOLIO STYLES */

/* !CONTACT STYLES */

/* !FOOTER STYLES */

/* !SCROLLBAR */

/* !MEDIA QUERIES */
@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.navbar .list {
		position: static;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: 1.5rem;
		background: none;
		padding: 0;
		color: var(--dark-color);
	}

	.navbar .list .list-item {
		border-bottom: none;
		padding: 0 10px;
	}
	.navbar .menu-toggle-button {
		display: none;
	}

	.navbar .list .list-link:hover,
	.navbar .list .list-link:focus {
		letter-spacing: 0;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
