---

title: 'Articles'
layout: 'base.njk'
pagination:
    data: collections.articles
    size: 8
    alias: paginatedArticles
permalink: /articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
---
<section class="section blog blog-hero">
    <div class="container flow">
        <div class="blog-hero-content flow">
            <div class="section-description scroll-reveal-left d-grid">
                <h1 class="section-title title">Welcome to my knowledge base!</h1>
                <p class="description section-subtitle">I use this space to document my adventures with new technologies.
                    <br><br>
                    This was initially intended as a personal repository for how to's and tech definitions but I decided to share!
                </p>
                <div class="hero-group-buttons scroll-reveal-right">
                    <a href="#all-articles" class="button button-fill text-center">Check my articles</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="articles" id="all-articles">
    <div class="container">
        <div class="section-title-container">
            <h2 class="title section-title scroll-reveal-left">Articles</h2>
            <div class="section-subtitle-container">
                <span class="subtitle-icon sparkles">
                    <i class="bx bx-book-open"></i>
                </span>
                <h5 class="title section-subtitle">Resources</h5>
            </div>
        </div>
        <div class="layout-articles d-grid">
            <div class="sidebar">
                <div class="sidebar-categories">
                    <h5 class="card-title">
                        <a href="/articles#all-articles" class="button catBtn" >All Articles</a>
                    </h5>
                    {% for category in collections.all | getAllTags | filterTagList %}
                        {% set catUrl %}/articles/{{ category | slugify }}/{% endset %}
                        <h5 class="card-title">
                            <a href="{{catUrl}}" class="button catBtn">{{category}}</a>
                        </h5>
                    {% endfor %}
                </div>
            </div>
            <div class="list-articles">
                {% for article in paginatedArticles %}
                    <article class="inner-part " data-category= {{ article.data.tags[1] }}>
                        <div class="articles-card-content">
                            <h3 class="blog-card-title">
                                <a href="{{ article.url }}">{{ article.data.title }}</a>
                            </h3>
                            <p class="blog-card-meta">by <span>
                                    <strong>{{ article.data.author }}</strong>
                                </span> on <span>
                                    <strong>{{ article.date | articleDate }}</strong>
                                </span>
                            </p>
                            <p class="blog-card-body">{{ article.data.description }}</p>
                            <a href="{{ article.url }}" class="button button-fill blog-card-btn">Continue Reading</a>
                        </div>
                    </article>
                {% endfor %}
                {% set totalPages = pagination.links.length %}
                {% set current = pagination.pageNumber + 1 %}
                {% if totalPages > 1 %}
                    <nav class="posts-nav all" role="navigation" aria-label="pagination">
                        <ul class="posts-nav-container ">
                            <li>
                                {% if page.url != pagination.href.first %}
                                    <a href="{{ pagination.href.first }}">1</a>
                                {% else %}
                                    <a href="" title="This is the first page" disabled>1</a>
                                {% endif %}
                            </li>
                            <li>
                                <!-- Previous Page. -->
                                {% if pagination.href.previous %}
                                    <a class="pagination-previous hoverable" href="{{ pagination.href.previous }}" rel="prev">Prev</a>
                                {% else %}
                                    <a href="" class="pagination-previous" title="This is the previous page" disabled>Prev</a>
                                {% endif %}
                            </li>
                            <li disabled>
                                <!-- Indicator Number. -->
                                <a class="pagination-link" 
                                    >{{ current }} of {{ totalPages }}</a>
                            </li>
                            <li>
                                <!-- Next Page. -->
                                {% if pagination.href.next %}
                                    <a  class="pagination-next hoverable" href="{{ pagination.href.next }}" rel="next">Next</a>
                                {% else %}
                                    <a href="" class="pagination-next" title="This is the next page" disabled>Next</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if page.url != pagination.href.last %}
                                    <a href="{{ pagination.href.last }}">{{ totalPages }}</a>
                                {% else %}
                                    <a href="" title="This is the last page" disabled>{{ totalPages }}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</section>